@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat.core();

$microbank-contrast: ( //
  50: black,
  100: black,
  200: black,
  300: white,
  400: white,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white,
);

$microbank-primary: ( //
  50: #dff3ef,
  100: #b1e2d7,
  200: #7ecfbd,
  300: #47bba3,
  400: #0fac90,
  500: #009d7e,
  600: #009071,
  700: #007f62,
  800: #006f54,
  900: #005338,
  contrast: $microbank-contrast,
);

$microbank-accent: ( //
  50: #e0f6f3,
  100: #b2e9e0,
  200: #7ddbcd,
  300: #3dccb8,
  400: #00bfa7,
  500: #00b196,
  600: #00a389,
  700: #009278,
  800: #008269,
  900: #00644b,
  // 50: #e8e9f9,
  // 100: #c4c8f1,
  // 200: #9da5e7,
  // 300: #7482de,
  // 400: #5366d7,
  // 500: #2e4ace,
  // 600: #2942c4,
  // 700: #1d37b8,
  // 800: #0f2cac,
  // 900: #001699,
  contrast: $microbank-contrast,
);

$microbank-warn: ( //
  50: #fceaef,
  100: #f8cbd5,
  200: #e696a0,
  300: #da6e7c,
  400: #e44b5e,
  500: #ea3648,
  600: #db2d45,
  700: #c8243e,
  800: #bb1d37,
  900: #ac0f2c,
  contrast: $microbank-contrast,
);

.light-theme {
  $primary: mat.define-palette($microbank-primary);
  $accent: mat.define-palette($microbank-accent, 200, 100, 300);
  $warn: mat.define-palette($microbank-warn);
  $theme: mat.define-light-theme($primary, $accent, $warn);

  $background: #f8f8f8;
  $background-theme: map-get($theme, background);
  $background-theme: map-merge($background-theme, (background: $background));
  $theme: map_merge($theme, (background: $background-theme));

  $primary-default: mat.get-color-from-palette($primary);
  $accent-default: mat.get-color-from-palette($accent);
  $accent-lighter: mat.get-color-from-palette($accent, lighter);
  $accent-darker: mat.get-color-from-palette($accent, darker);
  $warn-default: mat.get-color-from-palette($warn);

  --theme-primary-default: #{$primary-default};
  --theme-accent-default: #{$accent-default};
  --theme-accent-lighter: #{$accent-lighter};
  --theme-accent-darker: #{$accent-darker};
  --theme-warn-default: #{$warn-default};
  --theme-contrast-color: white;

  @include mat.all-component-themes($theme);
}

.dark-theme {
  $primary: mat.define-palette(mat.$gray-palette, 800);
  $accent: mat.define-palette(mat.$gray-palette, 700, 300, 900);
  $warn: mat.define-palette(mat.$red-palette);
  $theme: mat.define-dark-theme($primary, $accent, $warn);

  $primary-default: mat.get-color-from-palette($primary);
  $accent-default: mat.get-color-from-palette($accent);
  $accent-lighter: mat.get-color-from-palette($accent, lighter);
  $accent-darker: mat.get-color-from-palette($accent, darker);
  $warn-default: mat.get-color-from-palette($warn);

  --theme-primary-default: #{$primary-default};
  --theme-accent-default: #{$accent-default};
  --theme-accent-lighter: #{$accent-lighter};
  --theme-accent-darker: #{$accent-darker};
  --theme-warn-default: #{$warn-default};
  --theme-contrast-color: white;

  @include mat.all-component-themes($theme);
}
